* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(255, 255, 255);
}

body {
  display: grid;
  grid-template-columns: 120px auto auto;
  grid-template-rows: auto auto auto 10%;
  grid-template-areas: "header    header   header" "nav    fondo    fondo" "nav    section1 section2" "footer footer   footer";
}

header {
  grid-area: header;
}
header .contenedor-header {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
header .escudo {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header img {
  margin-right: 2%;
}
header header div h1 {
  margin-right: 1%;
}

.nav {
  grid-area: nav;
  background-color: cornflowerblue;
}
.nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 80%;
}
.nav li {
  list-style-type: none;
  padding: 50px 0;
}
.nav li:visited {
  color: white;
}
.nav a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  margin: 20px 0;
}

#section1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#section1 .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 90%;
}
#section1 .article p {
  padding-bottom: 30px;
}
#section1 .inicioTitulo {
  background-color: gray;
  color: white;
  width: 40%;
  height: 34px;
  padding-top: 5px;
  margin: 7px 0 10px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}
#section1 .mapaUbicaion {
  width: 500px;
}
#section1 iframe {
  width: 490px;
}

#section2 {
  grid-area: section2;
}
#section2 .inicio2Titulo {
  background-color: gray;
  color: white;
  width: 20%;
  height: 34px;
  padding-top: 5px;
  margin: 7px 0 10px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}
#section2 .article1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 20px;
}
#section2 .imagenCuartel {
  display: inline-block;
  margin-bottom: 1.5%;
  overflow: hidden;
  object-fit: fill;
  width: 90%;
  height: 480px;
}
#section2 img {
  object-fit: cover;
}

#fondo {
  grid-area: fondo;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
#fondo .telefono {
  width: 20px;
  height: 20px;
}
#fondo .num {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
#fondo h3 {
  padding-top: 8px;
}

.cuerpo1 {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#sectionTitulo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px 0;
  color: rgb(11, 20, 26);
}
#sectionTitulo .titulo {
  width: 500px;
  font-size: 20px;
}

#sectionPersonal {
  padding-left: 3px;
}
#sectionPersonal h4 {
  margin: 7px 0;
}
#sectionPersonal .activo {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 400px;
}
#sectionPersonal .activo p {
  font-size: 16px;
  padding-right: 10px;
}
#sectionPersonal .activo .jefes {
  display: flex;
  flex-direction: column;
}
#sectionPersonal .activo .jefes p {
  padding: 7px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
#sectionPersonal .activoTitulo {
  background-color: gray;
  color: white;
  width: 20%;
  height: 32px;
  padding-left: 5px;
  margin: 7px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
#sectionPersonal .reserva {
  font-size: 20px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  padding: 0 400px;
}
#sectionPersonal .reserva p {
  font-size: 16px;
  padding-right: 10px;
}
#sectionPersonal .reservaTitulo {
  background-color: gray;
  color: white;
  width: 26%;
  height: 32px;
  padding-left: 5px;
  margin: 7px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
#sectionPersonal .auxiliar {
  font-size: 20px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  padding: 0 400px;
}
#sectionPersonal .auxiliar p {
  font-size: 16px;
  padding-right: 10px;
}
#sectionPersonal .auxiliarTitulo {
  background-color: gray;
  color: white;
  width: 23%;
  height: 32px;
  padding-left: 5px;
  margin: 7px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
#sectionPersonal .cadetes {
  font-size: 20px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  padding: 0 400px;
}
#sectionPersonal .cadetes p {
  font-size: 16px;
  padding-right: 10px;
}
#sectionPersonal .cadetesTitulo {
  background-color: gray;
  color: white;
  width: 28%;
  height: 32px;
  padding-left: 5px;
  margin: 7px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
#sectionPersonal .comisionDirectiva {
  font-size: 20px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  padding: 0 400px;
}
#sectionPersonal .comisionDirectiva p {
  font-size: 16px;
  padding-right: 10px;
}
#sectionPersonal .comisionTitulo {
  background-color: gray;
  color: white;
  width: 28%;
  height: 32px;
  padding-left: 5px;
  margin: 7px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
#sectionPersonal h3 {
  padding-bottom: 15px;
}
#sectionPersonal h5 {
  padding: 15px 0;
}
#sectionPersonal .integrantes {
  display: flex;
  flex-direction: column;
}
#sectionPersonal .integrantes p {
  padding: 7px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

#edificio {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#edificio .cajaCuartel {
  padding: 0 400px;
  font-size: 20px;
  margin: 15px 0 10px 0;
}
#edificio .cuartelTitulo {
  text-align: center;
  margin: 30px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 26px;
}
#edificio .cajaEdificio {
  padding: 0 400px;
  font-size: 20px;
  margin-bottom: 8px;
}
#edificio .tituloEdificio {
  background-color: gray;
  color: white;
  width: 65%;
  height: 32px;
  padding-left: 5px;
  margin-top: 25px;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#edificio .lugar__container {
  font-size: 20px;
  margin: 13px 0;
}
#edificio .lugar__container__espacio {
  margin-bottom: 10px;
  font-size: 22px;
}
#edificio .lugar__container__texto {
  margin-top: 5px;
  font-size: 20px;
}

#brigadas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#brigadas .brigada {
  padding: 0 400px;
}
#brigadas .brigada .brigadaTitulo {
  text-align: center;
  margin: 30px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 26px;
}
#brigadas .trauma {
  font-size: 20px;
  margin: 40px 0;
  padding: 0 400px;
}
#brigadas .trauma .traumaTitulo {
  background-color: gray;
  color: white;
  width: 12%;
  height: 28px;
  padding-left: 5px;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#brigadas .rescate {
  font-size: 20px;
  margin: 40px 0;
  padding: 0 400px;
}
#brigadas .rescate .rescateTitulo {
  background-color: gray;
  color: white;
  width: 25%;
  height: 28px;
  padding-left: 5px;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#brigadas .hazmat {
  font-size: 20px;
  margin: 40px 0;
  padding: 0 400px;
}
#brigadas .hazmat .hazmatTitulo {
  background-color: gray;
  color: white;
  width: 12%;
  height: 28px;
  padding-left: 5px;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#brigadas .psicologia {
  font-size: 20px;
  margin: 40px 0;
  padding: 0 400px;
}
#brigadas .psicologia .psicologiaTitulo {
  background-color: gray;
  color: white;
  width: 36%;
  height: 28px;
  padding-left: 5px;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.bodyContactos {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  grid-template-rows: auto auto auto 10%;
  grid-template-areas: "header    header      header" "nav       contactos   mapa" "nav       voto        voto" "footer    footer      footer";
}

#contactos {
  grid-area: contactos;
  font-family: Arial, Helvetica, sans-serif;
}
#contactos h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
}
#contactos a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
#contactos .contactosCaja {
  text-align: center;
  margin-top: 200px;
  font-size: 20px;
}
#contactos .contactosCaja div {
  padding: 10px;
}

#voto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 65px 0;
  grid-area: voto;
}
#voto .valoracion {
  margin-top: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#voto .valoracion p {
  margin-bottom: 10px;
  display: block;
}
#voto .votoValoracion {
  padding: 0 55px;
  margin: 30px 0;
}
#voto input {
  padding: 3px 15px;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: beige 3;
  font-size: 20px;
}
#voto .boton {
  padding-left: 35%;
}
#voto .boton input {
  font-size: 18px;
  margin-top: 10px;
}

#mapa .mapaContacto {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.boton {
  padding-left: 35%;
}
.boton input {
  font-size: 18px;
  margin-top: 10px;
}

.footer {
  grid-area: footer;
  text-align: center;
  margin-bottom: 0%;
  width: 100%;
  background-color: gray;
  height: 50px;
  padding-top: 15px;
  bottom: 0%;
}

/*# sourceMappingURL=style.css.map */
