#brigadas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.brigada{
    padding: 0 400px;
}
.brigadaTitulo{
    text-align: center;
    margin: 30px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}
.trauma{
    font-size: 20px;
    margin: 40px 0;
    padding: 0 400px;
}
.traumaTitulo{
    width: 12%;
    height: 38px;
    @include brigadaTitulo;
}
.rescate{
    font-size: 20px;
    margin: 40px 0;
    padding: 0 400px;
}
.rescateTitulo{
    width: 25%;
    height: auto;
    @include brigadaTitulo;
}
.hazmat{
    font-size: 20px;
    margin: 40px 0;
    padding: 0 400px;
}
.hazmatTitulo{
    width: 12%;
    height: 38px;
    @include brigadaTitulo;
}
.psicologia{
    font-size: 20px;
    margin: 40px 0;
    padding: 0 400px;
}
.psicologiaTitulo{
    width: 35%;
    height: 55px;
    @include brigadaTitulo;
}