#brigadas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.brigada{
    padding: 0 400px;
}
.brigadaTitulo{
    text-align: center;
    margin: 30px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}
.trauma{
    @include nombreBrigada;
}
.traumaTitulo{
    width: 12%;
    height: 36px;
    @include brigadaTitulo;
}
.rescate{
    @include nombreBrigada;
}
.rescateTitulo{
    width: 28%;
    height: auto;
    @include brigadaTitulo;
}
.hazmat{
    @include nombreBrigada;
}
.hazmatTitulo{
    width: 12%;
    height: 36px;
    @include brigadaTitulo;
}
.psicologia{
    @include nombreBrigada;
}
.psicologiaTitulo{
    width: 28%;
    height: 65px;
    @include brigadaTitulo;
}